header, main, footer { 
    max-width: 75rem; 
    margin: auto;
}

header {
    display: flex;
    align-items: center;
}

nav {
    ul { 
        position: static;
        height: auto;
        display: flex; 
        align-items: center;
        gap: .5rem;
        list-style-type: none;
        max-width: 100%;
        li { width: auto; }

        &.open { display: flex;  }

        span { display: inline; }
    }
    button { display: none; }
}

.member {
    flex-basis: calc(25% - .5rem); 
    figure { 
        width: 85%; 
        float: right;
        max-height: 100%;
    }
    img {
        width: 100%;
        height: auto;
    }
}