nav {
    ul { 
        flex-direction: row;
        justify-content: space-between;
        li { border-top: none; }
        a { text-align: center; }
    }
}

figure.heroImage { padding: 1rem 2vw;}

main {
    figure { 
        float: right;
        width: 50%;
        margin: 0 1rem;
    }
}