body {
    font-family: $fontFamily;
}

/* header styling */
div.headerWrapper {
    background-color: $primaryColor;
    padding: 1rem 2vw;
    box-shadow: 0px 5px 5px #888888;
} 
header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
    /* padding: 1rem 2vw; */
    
    figure {
        margin: 0;
        width: 6em;
        img { width: 100%; height: auto;}
    }

    h1 { 
        font-family: $headingFontFamily; 
        margin: 0;
    }

    p { display: none; }
}

/* nav styling */
div.navWrapper {
    background-color: $secondaryColor;
    box-shadow: 0px 3px 5px #888888;
}
nav {
    ul {
        margin: 0; 
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;

        li { 
            border-top: 1px solid white; 
            width: 100%; 
        }

        a {
            display: block; 
            text-decoration: none;
            padding: 1rem 2vw;
            color: white;
        }
        a:hover {
            background-color: $primaryColor;
        }
        a.active {
            background-color: $primaryColor;
        }
    }
}

/* hero image */
figure.heroImage {
    width: 100%;
    padding: 0;
    margin: 0;
    img { width: 100%; height: auto; }
} 

/* main styling */
div.mainWrapper { padding: 1rem 2vw; background-color: white;}
main { 
    figure {
        width: 100%;
        padding: 0;
        margin: 0;
        img { width: 100%; height: auto; }
        figcaption { text-align: center; }
        box-shadow: 0 2px 5px #888888;
    }
}

/* footer styling */
div.footerWrapper { background-color: $primaryColor; }
footer {
    padding: .5rem 2vw;
}