nav {
    ul { 
        flex-direction: row; 
        justify-content: flex-end; 
        li { width: auto; }
        i { 
            font-style: normal;
            margin-top: .5rem;
            display: inline; 
        }
    }
}

.images {
    figure {
        flex-basis: calc(33% - .1rem);
    }
}