* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: "Open Sans", verdana, sans-serif;
}

header {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 110px auto;
    padding: 1rem 2vw;
    figure {  margin: 0; }
}
.navWrapper { background-color: $primary-color; }
nav {
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        li { 
            width: 100%; 
            text-align: end; 
            background-color: $primary-color;
        }
        a { 
            display: block; 
            text-decoration: none; 
            width: 100%;
            padding: .5rem 2vw;
        }
        a:hover { background-color: darken($primary-color, 10%); }
        a.active { background-color: lighten($primary-color, 30%);}

        i { display: none; }
    }
}

main {
    padding: 0 2vw;
}
.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .25rem;
    figure {
        flex-basis: calc(50% - .25rem);
        padding: 0;
        margin: 0;
        img { width: 100%; height: auto; }
        margin-bottom: 1rem;
        text-align: center;
    }
}

footer {
    background-color: $primary-color;
    padding: 1rem 2vw;
    text-align: center;
}