@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Open+Sans:wght@300;400&display=swap');
$title-font: "Merienda", "Open Sans", sans-serif;
$font-family: "Open Sans", sans-serif;
$primary-color: #36a4ff;
$secondary-color: desaturate($primary-color, 30%);